<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{36}) - %msg%n
            </pattern>
        </encoder>
        <target>System.out</target>
    </appender>
    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{36}) - %msg%n
            </pattern>
        </encoder>
        <target>System.err</target>
    </appender>
    <logger name="chapters.configuration" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="chapters.configuration" level="ERROR" additivity="false">
        <appender-ref ref="STDERR" />
    </logger>
    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>


    <!--    <logger name="com.zaxxer.hikari" level="OFF"/>-->
    <!--    <logger name="org.springframework" level="OFF"/>-->
    <!--    <logger name="org.flywaydb" level="OFF"/>-->
    <!--    <logger name="org.hibernate" level="OFF"/>-->

</configuration>
